.auth_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container{
    width: 400px;
    padding: 40px 30px;
    box-shadow: 3px 3px 7px 1px;
    border-radius: 6px;
    .title{
        font-size: 24px;
        font-weight: 600;
        color: rgb(59, 59, 59);
        text-align: center;
    }
    .gg-btn{
        background-color: red;
        display: flex;
        .text{
            font-size: 16.1212px;
            font-weight: 700;
            letter-spacing: normal;
        }
    }
    .icon{
        width: 20px;
        height: 20px;
        color: white;
        margin-right: 20px;
        svg{
            height: 20px;
            width: 20px;
        }
    }
    .btn-signin{
        height: 44px;
        font-size: 20px;
        font-weight: 600;
    }
    .divider{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0px;
        .text{
            font-weight: bold;
            font-size: 20px;
            margin: 0px 10px;
            color: grey;
        }
        .line{
            height: 2px;
            background-color: rgb(163, 163, 163);
            flex-grow: 1;
        }
    }
    .footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.ant-input{
    height: 44px;
}
.w-100{
    width: 100% !important;
}

.container-auth {
    .ant-form-item {
        margin-bottom: 16px;

        input.ant-input {
            font-family: 'Lato', sans-serif;
            background: #FFFFFF;
            border: 1px solid #DDE3F0;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 12px 24px;
            font-size: 20px;
            height: auto;
        }

        input.ant-input:hover {
            box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
            border-right-width: 1px !important;
            outline: 0;
        }
        
        input.ant-input::placeholder {
            color: #A2ACBE;
        }

        .ant-form-item-label {
            max-width: 60%;

            &::after {
                content: " * ";
                color: red;
            }
        }

        label {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            padding-left: 16px;
            color: #434A59;
            display: inline-block;
        }

        @media all and (max-width: 768px) {
            input.ant-input {
                font-size: 16px;
            }

            .ant-form-item-label {
                padding-bottom: 4px;
            }

            label {
                font-size: 14px;
            }
        }
    }

    .btn-signin {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 16px;
        height: 60px;
        background: #001F55;
        border-radius: 60px;
        padding: 15px 24px;
        border-color: #001F55;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        margin-top: -16px;

        span {
            color: #434A59;
            font-weight: 400;
            padding: 0 12px;
        }

        // a {
        //     color: #001F55;
        //     font-weight: 700;
        //     padding: 0 12px;
        // }
    }

    .auth-divider {
        .ant-divider-inner-text {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 32px;
            color: #A2ACBE;
        }
    }

    .auth-facebook {
        padding: 16px 24px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        color: #001F55;

        > img {
            margin-right: 24px;
        }

        &::after {
            content: " ";
            background: url('/assets/images/arrow-right-circle-orange.svg');
            background-size: 100%;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-left: auto;
        }

        &:hover {
            background-color: #fbfcfd !important;
        }
    }

    @media all and (max-width: 768px) {
        .btn-signin {
            font-size: 18px;
            margin-top: 16px;
        }

        .footer {
            font-size: 16px;
        }
    }
}
