.x {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  box-sizing: border-box
}

body *,
body :after,
body :before {
  box-sizing: inherit
}

body-el a[href^="mailto:"]:not(.x-el),
body-el a[href^="tel:"]:not(.x-el) {
  color: inherit;
  font-size: inherit;
  text-decoration: inherit
}

body-el-article,
body-el-aside,
body-el-details,
body-el-figcaption,
body-el-figure,
body-el-footer,
body-el-header,
body-el-hgroup,
body-el-main,
body-el-menu,
body-el-nav,
body-el-section,
body-el-summary {
  display: block
}

body-el-audio,
body-el-canvas,
body-el-progress,
body-el-video {
  display: inline-block;
  vertical-align: baseline
}

body-el-audio:not([controls]) {
  display: none;
  height: 0
}

body-el-template {
  display: none
}

body-el-a {
  background-color: transparent;
  color: inherit
}

body-el-a:active,
body-el-a:hover {
  outline: 0
}

body-el-abbr[title] {
  border-bottom: 1px dotted
}

body-el-b,
body-el-strong {
  font-weight: 700
}

body-el-dfn {
  font-style: italic
}

body-el-mark {
  background: #ff0;
  color: #000
}

body-el-small {
  font-size: 80%
}

body-el-sub,
body-el-sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

body-el-sup {
  top: -.5em
}

body-el-sub {
  bottom: -.25em
}

body-el-img {
  vertical-align: middle;
  border: 0
}

body-el-svg:not(:root) {
  overflow: hidden
}

body-el-figure {
  margin: 0
}

body-el-hr {
  box-sizing: content-box;
  height: 0
}

body-el-pre {
  overflow: auto
}

body-el-code,
body-el-kbd,
body-el-pre,
body-el-samp {
  font-family: monospace, monospace;
  font-size: 1em
}

body-el-button,
body-el-input,
body-el-optgroup,
body-el-select,
body-el-textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

body-el-button {
  overflow: visible
}

body-el-button,
body-el-select {
  text-transform: none
}

body-el-button,
body-el-input[type=button],
body-el-input[type=reset],
body-el-input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

body-el-button[disabled],
body-el-input[disabled] {
  cursor: default
}

body-el-button::-moz-focus-inner,
body-el-input::-moz-focus-inner {
  border: 0;
  padding: 0
}

body-el-input {
  line-height: normal
}

body-el-input[type=checkbox],
body-el-input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

body-el-input[type=number]::-webkit-inner-spin-button,
body-el-input[type=number]::-webkit-outer-spin-button {
  height: auto
}

body-el-input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}

body-el-input[type=search]::-webkit-search-cancel-button,
body-el-input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

body-el-textarea {
  border: 0
}

body-el-fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

body-el-legend {
  border: 0;
  padding: 0
}

body-el-textarea {
  overflow: auto
}

body-el-optgroup {
  font-weight: 700
}

body-el-table {
  border-collapse: collapse;
  border-spacing: 0
}

body-el-td,
body-el-th {
  padding: 0
}

body {
  -webkit-font-smoothing: antialiased
}

body-el-hr {
  border: 0
}

body-el-fieldset,
body-el-input,
body-el-select,
body-el-textarea {
  margin-top: 0;
  margin-bottom: 0
}

body-el-fieldset,
body-el-input[type=email],
body-el-input[type=text],
body-el-textarea {
  width: 100%
}

body-el-label {
  vertical-align: middle
}

body-el-input {
  border-style: none;
  padding: .5em;
  vertical-align: middle
}

body-el-select:not([multiple]) {
  vertical-align: middle
}

body-el-textarea {
  line-height: 1.75;
  padding: .5em
}

body-el.d-none {
  display: none !important
}

.sideline-footer {
  margin-top: auto
}

@-webkit-keyframes loaderscale {
  0% {
    transform: scale(1);
    opacity: 1
  }

  45% {
    transform: scale(.1);
    opacity: .7
  }

  80% {
    transform: scale(1);
    opacity: 1
  }
}

@keyframes loaderscale {
  0% {
    transform: scale(1);
    opacity: 1
  }

  45% {
    transform: scale(.1);
    opacity: .7
  }

  80% {
    transform: scale(1);
    opacity: 1
  }
}

body-loader svg {
  display: inline-block
}

body-loader svg:first-child {
  -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.24s infinite;
  animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.24s infinite
}

body-loader svg:nth-child(2) {
  -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.12s infinite;
  animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.12s infinite
}

body-loader svg:nth-child(3) {
  -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) 0s infinite;
  animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) 0s infinite
}

body-icon>svg {
  transition: transform .33s ease-in-out
}

body-icon>svg.rotate-90 {
  transform: rotate(-90deg)
}

body-icon>svg.rotate90 {
  transform: rotate(90deg)
}

body-icon>svg.rotate-180 {
  transform: rotate(-180deg)
}

body-icon>svg.rotate180 {
  transform: rotate(180deg)
}

body-rt:after {
  content: "";
  clear: both
}

body-rt ol,
body-rt ul {
  text-align: left
}

body-rt p {
  margin: 0
}

body-rt br {
  clear: both
}

.mte-inline-block {
  display: inline-block
}

@media only screen and (min-device-width:1025px) {

  :root select,
  _::-webkit-full-page-media,
  _:future {
    font-family: sans-serif !important
  }
}

.page-inner {
  background-color: rgb(10, 43, 117);
  min-height: 100vh;
}

$md-sheet-width: 768px;
$lg-sheet-width: 1024px;
$xl-sheet-width: 1280px;
$xxl-sheet-width: 1536px;

//.tracking-normal
.c1-1 {letter-spacing:normal}
// .normal-case
.c1-2 {text-transform:none}
// .bg-white
.c1-3{background-color:rgb(255, 255, 255)}
// .w-full
.c1-4{width:100%}
.c1-5 > div{position:relative}
.c1-6 > div{overflow:hidden}
.c1-7 > div{margin-top:auto}
.c1-8 > div{margin-right:auto}
.c1-9 > div{margin-bottom:auto}
.c1-a > div{margin-left:auto}
// .font-sans
.c1-b{font-family:'Source Sans Pro', arial, sans-serif}
// .text-sm
.c1-c {font-size:14px}
// .bg-header-widget
.c1-h {background-color:rgb(6, 33, 95)}
// .bg-dark
.c1-i {background-color:rgb(10, 43, 117)}
// .pt-10
.c1-j {padding-top:40px}
// .pb-10
.c1-k {padding-bottom:40px}
// .overflow-hidden
.c1-l {overflow:hidden}
// .p-0
.c1-m{padding:0px !important}
// .hidden
.c1-p{display:none}
.c1-r{background-color:rgb(22, 22, 22)}
// .pt-1
.c1-s {padding-top:4px}
// .pb-1
.c1-t {padding-bottom:4px}
// .relative
.c1-u {position:relative}
.c1-v{z-index:2}
// .ml-auto
.c1-w {margin-left:auto}
// .mr-auto
.c1-x {margin-right:auto}
// .pl-6
.c1-y {padding-left:24px}
// .pr-6
.c1-z {padding-right:24px}
// .max-w-full
.c1-10 {max-width:100%}
// .flex
.c1-11{display:flex}
// .items-center
.c1-12 {align-items:center}
// .justify-center
.c1-13 {justify-content:center}
.c1-18{word-wrap:break-word}
// .break-words
.c1-19{overflow-wrap:break-word}
// .leading-normal
.c1-1a {line-height:1.5}
// .mt-0
.c1-1b {margin-top:0}
// .mb-0
.c1-1c {margin-bottom:0}
// .text-center
.c1-1d {text-align:center}
// .text-gray-50
.c1-1e{color:rgb(247, 247, 247)}
// .font-normal
.c1-1f {font-weight:400}
// .inline-block
.c1-1g{display:inline-block}
// .absolute
.c1-1h{position:absolute}
// .top-0
.c1-1i{top:0px}
// .left-0
.c1-1j{left:0px}
// .h-full
.c1-1k{height:100%}
.c1-1l{background-color:rgba(10, 43, 117, 0.3)}
// .right-0
.c1-1m{right:0px}
// .bottom-0
.c1-1n{bottom:0px}
// .flex-col
.c1-1o{flex-direction:column}
.c1-1p{min-height:500px}
// .justify-start
.c1-1q{justify-content:flex-start}
.c1-1s{position:static}
// .bg-transparent
.c1-1u{background-color:transparent}
.c1-1v .sticky-animate{background-color:rgba(10, 43, 117, 0.3)}
.c1-1w{transition:background .3s}
.c1-1x{z-index:3}
// .pt-2
.c1-1y{padding-top:8px}
// .pb-2
.c1-1z{padding-bottom:8px}
.c1-20{background-color:rgba(6, 33, 95, 0.25)}
// .pt-0
.c1-23{padding-top:0px !important}
// .pb-0
.c1-24{padding-bottom:0px !important}
// .box-border
.c1-28{box-sizing:border-box}
// .flex-row
.c1-29{flex-direction:row}
// .flex-nowrap
.c1-2a{flex-wrap:nowrap}
// .-mr-3
.c1-2b {margin-right:-12px}
// .-ml-3
.c1-2c {margin-left:-12px}
// .flex-grow-0
.c1-2i{flex-grow:0}
// .flex-shrink
.c1-2j{flex-shrink:1}
// .flex-basis-15
.c1-2k{flex-basis:15%}
// .pt-0
.c1-2l{padding-top:0}
// .pr-0
.c1-2m{padding-right:0}
// .pb-0
.c1-2n{padding-bottom:0}
// .pl-3
.c1-2o{padding-left:12px}
.c1-2t{letter-spacing:inherit}
.c1-2u{text-transform:inherit}
// .no-underline
.c1-2v{text-decoration:none}
// .cursor-pointer
.c1-2w{cursor:pointer}
.c1-2x{border-top:0px}
.c1-2y{border-right:0px}
.c1-2z{border-bottom:0px}
.c1-30{border-left:0px}
.c1-31{color:rgb(255, 255, 255)}
// .mr-0
.c1-32{margin-left:0}
.c1-33{font-weight:inherit}
.c1-34:hover{color:rgb(255, 255, 255)}
.c1-35:active{color:rgb(255, 255, 255)}
.c1-36{color:inherit}
// .align-top
.c1-37{vertical-align:top}
.c1-38{padding-top:6px}
.c1-39{padding-right:6px}
.c1-3a{padding-bottom:6px}
.c1-3b{padding-left:6px}
// .flex-grow
.c1-3c{flex-grow:1}
// .flex-basis-70
.c1-3d{flex-basis:70%}
// .pr-3
.c1-3e{padding-right:12px}
// .font-karla
.c1-3f{font-family:'Karla', sans-serif}
.c1-3g{max-width:calc(100% - 0.1px)}
// .text-xs
.c1-3h{font-size:13px}
// .inline
.c1-3q{display:inline}
.c1-3r{width:auto}
.c1-3s:hover{color:rgb(198, 198, 198)}
.c1-3t{padding-left:0px}
// .x.c1-3u{[object -object]:0px}
.c1-3v{vertical-align:middle}
.c1-3w{aspect-ratio:2.2397200349956257 / 1}
.c1-3x{object-fit:contain}
.c1-3y{height:80px}
// .rounded-none
.c1-3z{border-radius:0px}
.c1-4h{justify-content:flex-end}
.c1-4i{margin-right:0px}
// flex-basis-0
.c1-4j{flex-basis:0%}
.c1-4m{line-height:24px}
// .pl-8
.c1-4n{padding-left:32px}
// .whitespace-nowrap
.c1-4o{white-space:nowrap}
// .invisible
.c1-4p{visibility:hidden}
.c1-4q:first-child{padding-left:0}
.c1-4r{letter-spacing:0.063em}
// .block
.c1-4s{display:block}
// .leading-normal
.c1-4t{line-height:1.5em}
.c1-4u{margin-bottom:-5px}
.c1-4v{border-bottom:1px solid}
.c1-4w{margin-left:-6px}
.c1-4x{margin-right:-6px}
.c1-4y{margin-top:-6px}
.c1-4z{margin-bottom:-6px}
// .z-index-1
.c1-50{z-index:1}
.c1-51{transition:transform .33s ease-in-out}
.c1-52{transform:rotate(0deg)}
.c1-53{border-radius:4px}
.c1-54{box-shadow:0 3px 6px 3px rgba(0,0,0,0.24)}
.c1-55{padding-top:16px}
.c1-56{padding-bottom:16px}
.c1-57{padding-left:16px}
.c1-58{padding-right:16px}
.c1-59{right:0px}
.c1-5a{top:32px}
.c1-5b{max-height:45vh}
// .overflow-y-auto
.c1-5c{overflow-y:auto}
.c1-5f{color:rgb(197, 199, 213)}
.c1-5g{text-align:left}
.c1-5h:last-child{margin-bottom:0}
.c1-5i{margin-bottom:8px}
.c1-5j{margin-top:8px}
.c1-5k{background-color:rgba(22, 22, 22, 0.9)}
.c1-5l{position:fixed}
// .max-w-0
.c1-5m{max-width:0px}
.c1-5n{z-index:10002}
// .pt-14
.c1-5o {padding-top:56px}
.c1-5p{-webkit-overflow-scrolling:touch}
.c1-5q{transition:max-width .3s ease-in-out}
.c1-5r{right:unset}
.c1-5s{line-height:1.3em}
.c1-5t{font-style:normal}
.c1-5u{top:15px}
.c1-5v{right:15px}
// .text-25px
.c1-5w{font-size:25px}
.c1-5x:hover{color:rgb(53, 95, 189)}
// .overflow-x-hidden
.c1-62{overflow-x:hidden}
.c1-63{-webkit-margin-before:0}
.c1-64{-webkit-margin-after:0}
.c1-65{-webkit-padding-start:0}
.c1-66{color:rgb(164, 164, 164)}
.c1-67{border-color:rgba(76, 76, 76, 0.5)}
.c1-68{border-bottom-width:1px}
.c1-69{border-bottom-style:solid}
.c1-6a:last-child{border-bottom:0}
.c1-6b{min-width:200px}
.c1-6c{justify-content:space-between}
.c1-6d{font-size:20px}
// .font-bold
.c1-6e{font-weight:700}
.c1-6f:hover{color:rgb(176, 187, 251)}
.c1-6g:active{color:rgb(81, 124, 219)}
// .items-start
.c1-6m{align-items:flex-start}
.c1-6u{margin-top:none}
.c1-70{padding-left:0px}
.c1-71{padding-right:0px}
.c1-77 > :nth-child(n){margin-bottom:8px}
.c1-78 > :last-child{margin-bottom:0 !important}
// .w-inherit
.c1-7f{width:inherit}
// leading-6/5
.c1-7g{line-height:1.2}
// text-32px
.c1-7h{font-size:32px}
// .tracking-normal
.c1-7m{letter-spacing:none}
// .leading-5/4
.c1-7n{line-height:1.25}
// .whitespace-pre-line
.c1-7o{white-space:pre-line}
.c1-7p{border-bottom-width:0px}
.c1-7q{border-color:rgba(255, 255, 255, 0.5)}
.c1-80{word-wrap:normal !important}
.c1-81{overflow-wrap:normal !important}
// .overflow-visible
.c1-82{overflow:visible}
.c1-83{font-size:23px}
.c1-88{transition:all 0.3s}
.c1-89{transition-property:background-color}
.c1-8a{transition-duration:.3s}
.c1-8b{transition-timing-function:ease-in-out}
.c1-8c{margin-top:16px}
.c1-8d{margin-bottom:16px}
.c1-8e{border-style:solid}
// .inline-flex
.c1-8f{display:inline-flex}
.c1-8g{padding-right:32px}
.c1-8h{min-height:56px}
// .border-current
.c1-8i{border-color:currentColor}
.c1-8j{border-top-width:2px}
.c1-8k{border-right-width:2px}
.c1-8l{border-bottom-width:2px}
.c1-8m{border-left-width:2px}
.c1-8n{text-shadow:none}
.c1-8o:hover{color:rgb(0, 0, 0)}
.c1-8p:hover{background-color:rgb(255, 255, 255)}
.c1-8q:hover{border-color:rgb(255, 255, 255)}
// .pb-14
.c1-8u {padding-bottom:56px}
// .flex-wrap
.c1-8v{flex-wrap:wrap}
// .-mb-6
.c1-8w {margin-bottom:-24px}
// .flex-basis-100
.c1-8y{flex-basis:100%}
// .pb-6
.c1-8z{padding-bottom:24px}
.c1-90{flex:1}
.c1-95{border-width:0 !important}
.c1-96{aspect-ratio:1 / 1}
.c1-98{align-items:stretch}
.c1-99{padding-top:24px}
.c1-9b{color:rgb(27, 27, 27)}
.c1-9i{height:auto}
.c1-9j{margin-top:24px}
.c1-9k{color:rgb(94, 94, 94)}
.c1-9l{font-size:inherit !important}
.c1-9m{line-height:inherit}
.c1-9n{font-style:italic}
.c1-9o{text-decoration:line-through}
.c1-9p{text-decoration:underline}
.c1-9q{letter-spacing:unset}
.c1-9r{text-transform:unset}
.c1-9s{margin-top:32px}
.c1-9t{border-style:none}
.c1-9u:hover{background-color:rgb(19, 63, 164)}
.c1-9y{min-height:300px}
.c1-a2{flex-shrink:0}
.c1-a7{min-height:inherit}
.c1-a9{line-height:1.4}
.c1-aa{margin-bottom:40px}
.c1-ab{font-size:17px}
.c1-ah{font-size:unset}
.c1-ai{font-family:unset}
.c1-aj{border-color:rgb(119, 119, 119)}
.c1-ak{border-bottom-width:1px}
.c1-al > *{max-width:100%}
.c1-am > :nth-child(n){margin-bottom:24px}
.c1-ap > p > ol{text-align:left}
.c1-aq > p > ol{display:block}
.c1-ar > p > ol{padding-left:1.3em}
.c1-as > p > ol{margin-left:16px}
.c1-at > p > ol{margin-right:16px}
.c1-au > p > ol{margin-top:auto}
.c1-av > p > ol{margin-bottom:auto}
.c1-aw > p > ul{text-align:left}
.c1-ax > p > ul{display:block}
.c1-ay > p > ul{padding-left:1.3em}
.c1-az > p > ul{margin-left:16px}
.c1-b0 > p > ul{margin-right:16px}
.c1-b1 > p > ul{margin-top:auto}
.c1-b2 > p > ul{margin-bottom:auto}
.c1-b3 > ul{text-align:left}
.c1-b4 > ul{display:block}
.c1-b5 > ul{padding-left:1.3em}
.c1-b6 > ul{margin-left:16px}
.c1-b7 > ul{margin-right:16px}
.c1-b8 > ul{margin-top:auto}
.c1-b9 > ul{margin-bottom:auto}
.c1-ba > ol{text-align:left}
.c1-bb > ol{display:block}
.c1-bc > ol{padding-left:1.3em}
.c1-bd > ol{margin-left:16px}
.c1-be > ol{margin-right:16px}
.c1-bf > ol{margin-top:auto}
.c1-bg > ol{margin-bottom:auto}
.c1-bh{font-size:16px}
.c1-bm > *{flex-grow:1}
.c1-br{max-height:1000px}
// .bg-center
.c1-bt {background-position:center}
// .bg-aut
.c1-bu {background-size:auto, cover}
// .bg-blend-normal
.c1-bv {background-blend-mode:normal}
// .bg-no-repeat
.c1-bw {background-repeat:no-repeat}
.c1-bx{text-shadow:0px 2px 30px rgba(0, 0, 0, 0.12)}
.c1-by{transition:opacity 0.25s, background-size 0.25s, background-position 0.25s}
.c1-bz{background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/ip/static/transparent_placeholder.png/:/rs=w:50,h:50,cg:true,m,i:true/qt=q:1")}
.c1-c1{order:-1}
.c1-c2{aspect-ratio:2 / 1}
.c1-c4{font-size:18px}
.c1-cb > :nth-child(n){margin-bottom:0px}
.c1-cd{margin-bottom:24px}
.c1-cg{aspect-ratio:auto}
.c1-cj{aspect-ratio:2.2958579881656807 / 1}
.c1-cl{padding-bottom:48px}
.c1-cm{align-self:flex-start}
.c1-cn{aspect-ratio:2.262443438914027 / 1}
.c1-cp{aspect-ratio:1.757469244288225 / 1}
.c1-cr{max-height:unset}
.c1-ct{aspect-ratio:0.9890625 / 1}
.c1-cv{color:rgb(89, 89, 89)}
.c1-cw{margin-top:0px}
.c1-cx{list-style-type:none}
.c1-cz{padding-left:8px}
.c1-d0{padding-right:8px}
.c1-d5{color:rgb(203, 204, 216)}
.c1-d6{z-index:10000}
.c1-d7{transition:all 1s ease-in}
.c1-d8{box-shadow:0 2px 6px 0px rgba(0,0,0,0.3)}
.c1-d9{contain:content}
.c1-da{bottom:-500px}
.c1-di{max-height:300px}
.c1-dk{margin-bottom:4px}
.c1-dl{word-break:break-word}
.c1-dm{flex-basis:50%}
.c1-dn{min-height:40px}
.c1-do:nth-child(2){margin-left:24px}
.c1-dp:hover{color:rgb(48, 48, 48)}

// cxs-sm-sheet: //img1.wsimg.com/blobby/go/0045c8d4-37b6-4f39-a247-437baa67e7ab/gpub/e692b49c939bcee/styles.css
@media (max-width: #{$md-sheet-width - 1px}) {
  // .pt-8
  .c1-n {padding-top:32px}
  // .pb-8
  .c1-o {padding-bottom:32px}
  // .sm:w-full
  .c1-3i{width:100%}
  // .sm:flex
  .c1-3j{display:flex}
  // .sm:justify-center
  .c1-3k{justify-content:center}
  .c1-40{height:80px}
  .c1-41{max-width:224px}
  .c1-42{display:block}
  .c1-43{max-height:80px}
  .c1-44{margin-top:0}
  .c1-45{margin-right:auto}
  .c1-46{margin-bottom:0}
  .c1-47{margin-left:auto}
  // .sm:max-w-full
  .c1-7r{max-width:100%}
  // .sm:mb-2
  .c1-7s{margin-bottom:8px}
  .c1-7t{word-wrap:break-word}
  // .sm:break-words
  .c1-7u{overflow-wrap:break-word}
  .c1-8r{width:auto !important}
  .c1-97{height:calc((100vw - 48px)/1)}
  .c1-ac{margin-bottom:24px}
  .c1-an > :nth-child(n){margin-bottom:24px}
  .c1-ao > :last-child{margin-bottom:0 !important}
  .c1-bn{order:-1}
  .c1-c0 > :nth-child(n){margin-bottom:16px}
  .c1-c3{height:calc((100vw - 48px)/2)}
  .c1-ck{height:calc((100vw - 48px)/2.2958579881656807)}
  .c1-co{height:calc((100vw - 48px)/2.262443438914027)}
  .c1-cq{height:calc((100vw - 48px)/1.757469244288225)}
  .c1-cu{height:calc((100vw - 48px)/0.9890625)}
  .c1-cy{flex-direction:column}
  .c1-d1{padding-top:4px}
  .c1-d2{padding-bottom:4px}
}

@media (min-width: $md-sheet-width) and (max-width: #{$lg-sheet-width - 1}) {
  // .md:text-sm
  .c1-d {font-size:14px}
  // .w-full
  .c1-14 {width:100%}
  // .mt-0
  .c1-2d {margin-top:0}
  // .md:-mr-6
  .c1-2e {margin-right:-24px}
  // .md:mb-0
  .c1-2f{margin-bottom:0}
  // .md:-ml-6
  .c1-2g{margin-left:-24px}
  // .md:pt-0
  .c1-2p{padding-top:0}
  // .md:pr-6
  .c1-2q{padding-right:24px}
  // .md:pb-0
  .c1-2r{padding-bottom:0}
  // .md:pl-6
  .c1-2s{padding-left:24px}
  // .md:w-full
  .c1-3l{width:100%}
  // .md:text-xs
  .c1-3m{font-size:13px}
  .c1-48{display:block}
  .c1-49{max-height:80px}
  .c1-4a{margin-top:0}
  .c1-4b{margin-right:auto}
  .c1-4c{margin-bottom:0}
  .c1-4d{margin-left:auto}
  .c1-5e{right:0px}
  .c1-5y{font-size:27px}
  // .md:text-sl
  .c1-6h {font-size:20px}
  .c1-6v{display:flex}
  .c1-6w{flex-direction:column}
  // .md:flex-grow
  .c1-6x{flex-grow:1}
  .c1-6y{flex-shrink:0}
  .c1-6z{flex-basis:auto}
  .c1-72{padding-left:0px}
  // .md:items-start
  .c1-73{align-items:flex-start}
  .c1-74{justify-content:space-around}
  // .md:text-left
  .c1-79{text-align:left}
  .c1-7a{max-width:100%}
  .c1-7b{border-color:rgba(255, 255, 255, 0.5)}
  .c1-7c{border-left-style:solid}
  .c1-7d{border-left-width:2px}
  .c1-7e{padding-left:32px}
  // .md:text-38px
  .c1-7i{font-size:38px}
  .c1-7v{border-bottom-width:0px}
  // .md:text-30px
  .c1-7w{font-size:30px}
  .c1-84{font-size:23px}
  // .md:w-auto
  .c1-8s{width:auto}
  // .md:-mb-12
  .c1-8x {margin-bottom:-48px}
  .c1-91{padding-bottom:48px}
  .c1-9a{min-height:300px}
  .c1-ad{font-size:17px}
  .c1-bi{font-size:16px}
  .c1-bo{order:-1}
  .c1-bs{height:448px}
  .c1-c5{font-size:18px}
  .c1-c9{flex-basis:50%}
  .c1-ca{max-width:50%}
  .c1-cc{position:absolute}
  .c1-cf{position:relative}
  .c1-ch{object-fit:contain}
  .c1-ci{object-fit:cover}
  .c1-cs{height:unset}
  .c1-db{width:400px}
  .c1-dc{max-height:500px}
  .c1-dd{border-radius:7px}
  .c1-de{margin-top:24px}
  .c1-df{margin-right:24px}
  .c1-dg{margin-bottom:24px}
  .c1-dh{margin-left:24px}
  .c1-dj{max-height:140px}
}

@media (min-width: $lg-sheet-width) and (max-width: #{$xl-sheet-width - 1}) {
  // .lg:text-sm
  .c1-e {font-size:14px}
  .c1-q{display:block}
  // .lg:w-246
  .c1-15{width:984px}
  // .lg:min-h-85vh
  .c1-1r{min-height:85vh}
  // .lg:static
  .c1-1t{position:static}
  // .lg:pt-4
  .c1-21{padding-top:16px}
  // .lg:pb-4
  .c1-22{padding-bottom:16px}
  // .lg:w-full
  .c1-25{width:100%}
  .c1-26{display:flex}
  // .lg:justify-center
  .c1-27{justify-content:center}
  // .lg:hidden
  .c1-2h{display:none}
  // .lg:text-xs
  .c1-3n{font-size:13px}
  .c1-4e{height:80px}
  .c1-4f{width:auto}
  .c1-4g{max-height:80px}
  // .lg:flex-basis-1/3
  .c1-4k{flex-basis:33.33333333333333%}
  // .lg:max-w-1/3
  .c1-4l{max-width:33.33333333333333%}
  .c1-5d{right:0px}
  .c1-5z{font-size:27px}
  .c1-6i{min-width:300px}
  .c1-6j{font-size:20px}
  .c1-6n{margin-top:0px}
  .c1-6o{margin-bottom:0px}
  .c1-6p{justify-content:flex-start}
  .c1-6q{margin-left:auto}
  .c1-6r{margin-right:auto}
  .c1-6s{max-width:100%}
  .c1-6t{margin-top:72px}
  // .lg:max-w-5/6
  .c1-75{max-width:calc(100% * (5/6))}
  .c1-76{margin-left:0px}
  // lg:text-5xl
  .c1-7j{font-size:38px}
  .c1-7x{font-size:30px}
  .c1-85{font-size:23px}
  // lg:mb-2
  .c1-8t{margin-bottom:8px}
  // lg:flex-basis-50
  .c1-92{flex-basis:50%}
  // lg:max-w-1/2
  .c1-93{max-width:50%}
  .c1-94{flex:1}
  .c1-9c{text-align:center}
  .c1-9d{padding-top:0}
  .c1-9e{padding-right:0}
  .c1-9f{padding-bottom:0}
  .c1-9g{padding-left:0}
  .c1-9h{margin-right:0}
  .c1-9v:hover{box-shadow:inset 0 0 0 2px}
  .c1-9w:hover{color:rgb(10, 43, 117)}
  .c1-9x:hover{background-color:transparent}
  .c1-9z{flex-wrap:nowrap}
  .c1-a0{flex-direction:row}
  .c1-a1{min-height:30vh}
  .c1-a3:only-child{flex-basis:100%}
  .c1-a4:only-child{max-width:100%}
  .c1-a5:only-child > *{max-width:100%}
  .c1-a6 > *{max-width:70%}
  .c1-a8{text-align:left}
  .c1-ae{font-size:17px}
  .c1-bj{font-size:16px}
  .c1-bp > *{max-width:100%}
  .c1-bq > *{width:100%}
  .c1-c6{font-size:18px}
  .c1-ce{position:relative}
  .c1-d3{flex-basis:0%}
  .c1-d4{max-width:none}
}

@media (min-width: $xl-sheet-width) and (max-width: #{$xxl-sheet-width - 1}) {
  // .xl:text-sm
  .c1-f {font-size:14px}
  // .xl:w-290
  .c1-16{width:1160px}
  // .xl:text-xs
  .c1-3o{font-size:13px}
  .c1-60{font-size:29px}
  // .xl:text-sl
  .c1-6k {font-size:20px}
  // .xl:text-49px
  .c1-7k{font-size:49px}
  // .xl:text-35px
  .c1-7y{font-size:35px}
  .c1-86{font-size:25px}
  .c1-af{font-size:17px}
  .c1-bk{font-size:16px}
  .c1-c7{font-size:18px}
}

@media (min-width: $xxl-sheet-width) {
  // .2xl:text-base
  .c1-g {font-size:16px}
  // .2xl:w-320
  .c1-17 {width:1280px}
  // .2xl:text-sm
  .c1-3p{font-size:14px}
  .c1-bl{font-size:18px}
  .c1-ag{font-size:19px}
  .c1-c8{font-size:20px}
  .c1-87{font-size:29px}
  .c1-6l{font-size:22px}
  .c1-61{font-size:32px}
  .c1-7z{font-size:38px}
  .c1-7l{font-size:50px}
}
